@model IEnumerable<CrudNet7MVC.Models.Contact>

@{
    ViewData["Title"] = "Lista de Contactos";
}



<h1 class="text-center"> Contacto con .Net 7 (.NET Core MVC)</h1>


<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Home" class="btn btn-secondary d-block max-auto btn-lg"><i class="bi bi-file-plus-fill"></i>New User</a>
    </div>
</div>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
              <h3 class="text-white"><strong>Users List</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="tblUsers" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m=>m.Id)</th>
                                    <th>@Html.DisplayNameFor(m=>m.Name)</th>
                                    <th>@Html.DisplayNameFor(m=>m.PhoneNumber)</th>
                                    <th>@Html.DisplayNameFor(m=>m.Email)</th>
                                    <th>Actions</th>
                                    </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model){
                                    <tr>
                                        <td>@Html.DisplayFor(m=>item.Id)</td>
                                        <td>@Html.DisplayFor(m=>item.Name)</td>
                                        <td>@Html.DisplayFor(m=>item.PhoneNumber)</td>
                                        <td>@Html.DisplayFor(m=>item.Email)</td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i> Edit</a>
                                            <a class="btn btn-secondary" asp-action="Details" asp-route-itemid="@item.Id"><i class="bi bi-info-circle-fill"></i> Details</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-itemid="@item.Id"> <i class="bi bi-eraser-fill"></i> Delete</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    } else
                    {
                    <p>Contacts is empty</p>    
                    }
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblUsers').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No Info",
                    "info": "Showing _START_ a _END_ de _TOTAL_ Entries",
                    "infoEmpty": "Showing 0 to 0 of 0 Entries",
                    "infoFiltered": "(Filtering de _MAX_ total Entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Showing _MENU_ Entries",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "Results not found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previus"
                    }
                }
            });
        });
    </script>
}          